<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ subject }}</title>
    </head>
    <body style="background: #111; -webkit-font-smoothing: antialiased; font-size: 14px; margin: 0; line-height: 1.35;">
        <a href={{ url }}>
            <img draggable="false" alt={{ subject }} style="width: 100%;" src={{ imageURL }} />
        </a>
    </body>
</html>